In [19]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

data=pd.read_csv('d:/data/insurance/insurance.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [20]:
data.corr()['charges'].sort_values()

children    0.067998
bmi         0.198341
age         0.299008
charges     1.000000
Name: charges, dtype: float64

In [21]:
# 전처리된 파일
data2=pd.read_csv('d:/data/insurance/insurance2.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [22]:
data2.corr()['charges'].sort_values()

southwest   -0.043210
northwest   -0.039905
northeast    0.006349
sex          0.057292
children     0.067998
southeast    0.073982
bmi          0.198341
age          0.299008
smoker       0.787251
charges      1.000000
Name: charges, dtype: float64

In [25]:
# 명목형 변수는 제외하고 연속형 변수만 독립변수로 선택
import statsmodels.api as sm

df2=data2.iloc[:,[0,2,3]]
print(df2.head())
y2=data2.iloc[:,[9]] # 종속변수
print(y2.head())

model2=sm.OLS(y2, df2)
result2=model2.fit()

print('회귀계수\n',result2.params)
print('R-squared\n',result2.rsquared) # 회귀모델의 설명력 : 59.5%
print('P values\n',result2.pvalues)
print(result2.summary()) # 요약 결과

   age     bmi  children
0   19  27.900         0
1   18  33.770         1
2   28  33.000         3
3   33  22.705         0
4   32  28.880         0
       charges
0  16884.92400
1   1725.55230
2   4449.46200
3  21984.47061
4   3866.85520
회귀계수
 age         205.509604
bmi         162.508428
children    407.682683
dtype: float64
R-squared
 0.5957184482734048
P values
 age         1.202690e-22
bmi         8.153462e-09
children    1.133688e-01
dtype: float64
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                charges   R-squared (uncentered):                   0.596
Model:                            OLS   Adj. R-squared (uncentered):              0.595
Method:                 Least Squares   F-statistic:                              655.7
Date:                Mon, 06 Dec 2021   Prob (F-statistic):                   6.52e-262
Time:                        17:55:06   Log-Likelihood:                         -14400.
No. Observations:                1338   AIC:                                  2.881e+04
Df Residuals:                    1335   BIC:                                  2.882e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
age          205.5096     20.605      9.974      0.000     165.088     245.931
bmi          162.5084     28.007      5.802      0.000     107.566     217.451
children     407.6827    257.331      1.584      0.113     -97.135     912.501
==============================================================================
Omnibus:                      369.789   Durbin-Watson:                   2.018
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              750.403
Skew:                           1.648   Prob(JB):                    1.13e-163
Kurtosis:                       4.610   Cond. No.                         42.2
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [26]:
# 유의하지 않은 children 변수 제거
df3=data2.iloc[:,[0,2]]
print(df3.head())
y3=data2.iloc[:,[9]] # 종속변수
print(y3.head())

model3=sm.OLS(y3, df3)
result3=model3.fit()

print('회귀계수\n',result3.params)
print('R-squared\n',result3.rsquared) # 회귀모델의 설명력 : 95.8%
print('P values\n',result3.pvalues)
print(result3.summary()) # 요약 결과

   age     bmi
0   19  27.900
1   18  33.770
2   28  33.000
3   33  22.705
4   32  28.880
       charges
0  16884.92400
1   1725.55230
2   4449.46200
3  21984.47061
4   3866.85520
회귀계수
 age    208.863249
bmi    172.394322
dtype: float64
R-squared
 0.5949583640125078
P values
 age    1.634082e-23
bmi    3.773924e-10
dtype: float64
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                charges   R-squared (uncentered):                   0.595
Model:                            OLS   Adj. R-squared (uncentered):              0.594
Method:                 Least Squares   F-statistic:                              981.2
Date:                Mon, 06 Dec 2021   Prob (F-statistic):                   6.45e-263
Time:                        17:55:27   Log-Likelihood:                         -14401.
No. Observations:                1338   AIC:                                  2.881e+04
Df Residuals:                    1336   BIC:                                  2.882e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
age          208.8632     20.507     10.185      0.000     168.633     249.094
bmi          172.3943     27.318      6.311      0.000     118.803     225.986
==============================================================================
Omnibus:                      364.702   Durbin-Watson:                   2.016
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              732.185
Skew:                           1.634   Prob(JB):                    1.02e-159
Kurtosis:                       4.567   Cond. No.                         5.51
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.